.actionsList {
    display: flex;
    gap: 16px;
}

@media (max-width: 870px) {
    .actionsList {
        display: none;
    }
}

.actionsListMobile {
    display: flex;
    gap: 16px;
}

.actionsListMobile path {
    fill: black;
}

.actionsListItem {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
