.filterSelection {
    font-weight: 500;
    font-size: 12px;
    flex-basis: 145px;
    flex-shrink: 0;
    position: relative;
}
.filterSelections {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filterSelectionHeaderButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.filterSelectionHeaderButtonActive {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filterList {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    text-align: center;
    scrollbar-width: none;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        visibility 0.4s ease;
}

.filterList::-webkit-scrollbar {
    display: none;
}

.filterList > li {
    margin-bottom: 15px;
}

.filterList > li > button {
    display: block;
    width: 100%;
}

.filterList > li:last-child {
    margin-bottom: 0px;
}

.filterListActive {
    padding: 15px;
    max-height: 150px;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 765px) {
    .filterSelections {
        max-width: 500px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: visible;
    }
}
