.sort {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 12px;
    margin: 24px 0px;
    display: flex;
    gap: 2px;
}

.sortVariantActive > button {
    color: rgba(244, 113, 122, 1) !important;
}

.sortList {
    display: flex;
    gap: 8px;
}
